<?xml  version="1.0"?>
<config>
    <modules>
        <Rom_DisableAddToCartFormKeyValidation>
            <version>0.1.0</version>
        </Rom_DisableAddToCartFormKeyValidation>
    </modules>
    <frontend>
        <routers>
            <checkout>
                 <args>
                     <modules>
                         <Rom_DisableAddToCartFormKeyValidation before="Mage_Checkout">Rom_DisableAddToCartFormKeyValidation</Rom_DisableAddToCartFormKeyValidation>
                     </modules>
                 </args>
            </checkout>
        </routers>
    </frontend>
</config>
